In [11]:
import pandas as pd
import numpy as np
import matplotlib as mlt
import scipy

In [41]:
df = pd.read_csv('adult.data.csv')

In [131]:
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [47]:
men_only = df[df['sex'] == 'Male']
avg_age = men_only['age'].mean()
avg_age

39.43354749885268

In [183]:
total_edu = df['education'].count()
bachelor_degree = df[df['education'] == 'Bachelors']
count = bachelor_degree.shape[0]
percentage_withdegree = round(count / total_edu * 100)

# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
bachelors_above = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
bachelors_above_count = bachelors_above.shape[0]
percentage_higher = round(bachelors_above_count / total_edu * 100)

# Percentage below 50k
# bachelors_above.loc[:, 'salary'] = bachelors_above['salary'].str.replace(r'\D', '', regex=True)
# bachelors_above.loc[:, 'salary'] = pd.to_numeric(bachelors_above['salary'])

above_fifty = bachelors_above[bachelors_above['salary'] == '>50K'].shape[0]
print(above_fifty)
percentage_lower = round(above_fifty / total_edu * 100)

# Lower Calculations
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education_count = lower_education.shape[0]

# Salary calculations
salary_low = lower_education[lower_education['salary'] == '<=50K'].shape[0]
percentage = round(salary_low / total_edu * 100)

3486

In [190]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
above_fifty = bachelors_above[bachelors_above['salary'] == '>50K']
# above_fifty.head()
num_min_workers = above_fifty[above_fifty['hours-per-week'] >= 40].shape[0]
num_min_workers

3153

In [203]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?

min_work_hours = df['hours-per-week'].min()
round(min_work_hours)

1

In [191]:
total_edu = df['education'].count()
total_edu

32561

In [222]:
# What country has the highest percentage of people that earn >50K?
# highest_earning_country = None
above_fifty = bachelors_above[bachelors_above['salary'] == '>50K']
highest_country = above_fifty[above_fifty['native-country'] == 'India']
india_occupation = highest_country['occupation'].value_counts()
india_occupation

occupation
Prof-specialty     14
Exec-managerial     7
Sales               1
Tech-support        1
Name: count, dtype: int64

In [223]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')
    
    
    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    men_only = df[df['sex'] == 'Male']
    average_age_men = round(men_only['age'].mean())

    # What is the percentage of people who have a Bachelor's degree?
    total_edu = df['education'].count()
    bachelor_degree = df[df['education'] == 'Bachelors']
    count = bachelor_degree.shape[0]
    percentage_bachelors = round(count / total_edu * 100)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    bachelors_above = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
    bachelors_above_count = bachelors_above.shape[0]
    higher_education = round(bachelors_above_count / total_edu * 100)
    
    # lower education calculations
    lower_education_people = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
    lower_education_count = lower_education_people.shape[0]
    lower_education = round(lower_education_count / total_edu * 100)

    # percentage with salary >50K
    above_fifty = bachelors_above[bachelors_above['salary'] == '>50K']
    above_fifty_count = bachelors_above[bachelors_above['salary'] == '>50K'].shape[0]
    higher_education_rich = round(above_fifty_count / total_edu * 100)
    
    # lower people with low salary percentage
    print(lower_education)
    salary_low = lower_education_people[lower_education_people['salary'] == '<=50K'].shape[0]
    lower_education_rich = round(salary_low / total_edu * 100)
    

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = round(df['hours-per-week'].mean())

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = above_fifty[above_fifty['hours-per-week'] < 40].shape[0]


    rich_percentage = round(num_min_workers / total_edu * 100)

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = 'United States'
    above_fifty = bachelors_above[bachelors_above['salary'] == '>50K']
    highest_country_count = above_fifty[above_fifty['native-country'] == 'United-States'].shape[0]
    highest_earning_country_percentage = round(highest_country_count / total_edu * 100)

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = 'Prof-specialty'

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [224]:
calculate_demographic_data()

77
Number of each race:
 race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64
Average age of men: 39
Percentage with Bachelors degrees: 16%
Percentage with higher education that earn >50K: 11%
Percentage without higher education that earn >50K: 64%
Min work time: 40 hours/week
Percentage of rich among those who work fewest hours: 1%
Country with highest percentage of rich: United States
Highest percentage of rich people in country: 10%
Top occupations in India: Prof-specialty

{'race_count': race
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: count, dtype: int64,
 'average_age_men': 39,
 'percentage_bachelors': 16,
 'higher_education_rich': 11,
 'lower_education_rich': 64,
 'min_work_hours': 40,
 'rich_percentage': 1,
 'highest_earning_country': 'United States',
 'highest_earning_country_percentage': 10,
 'top_IN_occupation': 'Prof-specialty'}